<div ng-show="ontologyLoading" ng-hide="ontologyError">
	<p class="text-center">
   		<p class="text-center">
   		Loading ontology terms...
   		</p>
  		<img class="img-responsive center-block" src="images/ajax-loader.gif"/>
   	</p>
</div>
<div ng-hide="ontologyLoading">
	<div ng-show="ontologyError">
		<div class="alert alert-danger">
			{{ontologyError.message}}
		</div>
	</div>
	<div ng-hide="ontologyError">
		<table ng-table="tableParams" show-filter="true"
			class="table table-hover table-condensed">
			<tbody>
				<tr ng-repeat="term in data" ng-class="{ 'success' : (term.id == annotation.cmTermID) }">
					<td data-title="''" class="text-center"><span
						style="background: {{term.color}}">&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
					<td data-title="'Name'" sortable="'name'"
						filter="{ 'name': 'text' }">
						<button id="{{term.id}}" type="button"
							class="btn btn-xs btn-default" ng-click="assign(term)">{{term.name}}</button>
					</td>
					<td data-title="'Category/Class'" sortable="'parentName'"
						filter="{ 'parentName': 'text' }">{{term.parentName}}</td>
				</tr>
			</tbody>
		</table>
		<div>
			<button type="button" ng-click="tableParams.filter({})" class="btn btn-xs btn-default pull-left">Clear filter</button>
			<span class="pull-right">Showing label {{ ontologySettings.pageItemMin+1 }} to {{ ontologySettings.pageItemMax }} (<strong>{{ ontology.length }}</strong> in total)</span>
		</div>
	</div>
</div>