<!DOCTYPE html>
<html ng-app="irisApp">
<head>
<title>Cytomine IRIS</title>
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

<!-- JQuery Framework -->
<script type="text/javascript" src="lib/jquery/jquery-2.1.1.min.js"></script>
<!-- <script type="text/javascript" src="lib/jquery/jquery-migrate-1.2.1.js"></script> -->

<!-- ANGULAR JS Framework -->
<!-- <script src="lib/angular/angular.js" type="text/javascript"></script> -->
<script src="lib/angular/angular.min.js" type="text/javascript"></script>
<script type="text/javascript" src="ngmodules/ng-sanitize/angular-sanitize.min.js"></script>
<script src="ngmodules/angular-route.js" type="text/javascript"></script>
<script src="ngmodules/angular-resource.js" type="text/javascript"></script>
<script src="ngmodules/ng-table/ng-table.js" type="text/javascript"></script>
<link href="ngmodules/ng-table/ng-table.css" rel="stylesheet" />

<!-- AngularJS draggable -->
<script type="text/javascript" src="ngmodules/ng-draggable/ngDraggable.js"></script>

<!-- AngularJS tree control -->
<script type="text/javascript" src="ngmodules/angular-tree-control/angular-tree-control.js"></script>
<link rel="stylesheet" type="text/css" href="ngmodules/angular-tree-control/css/tree-control.css"/>
<link rel="stylesheet" type="text/css" href="ngmodules/angular-tree-control/css/tree-control-attribute.css"/>

<!-- OpenLayers 2 Framework -->
<!-- <link rel="stylesheet" href="lib/openlayers-2.13.1/theme/default/style.css" type="text/css"/> -->
<!-- <script type="text/javascript" src="lib/openlayers-2.13.1/OpenLayers.js"></script> -->

<!-- OpenLayers 3 Framework -->
<link rel="stylesheet" href="lib/openlayers-3.0.0/css/ol.css" type="text/css"/>
<!-- <script type="text/javascript" src="lib/openlayers-3.0.0/build/ol-debug.js"></script> -->
<script type="text/javascript" src="lib/openlayers-3.0.0/build/ol.js"></script>

<!-- Angular OpenLayers 3 Directive -->
<script type="text/javascript" src="lib/angular-ol3/angular-openlayers-directive.js"></script>

<!-- Keyboard Shortcuts -->
<link rel="stylesheet" href="lib/hotkeys/hotkeys.min.css"/>
<script type="text/javascript" src="lib/mousetrap/mousetrap.min.js"></script>
<script type="text/javascript" src="lib/hotkeys/hotkeys.min.js"></script>

<!-- Pace JS Famework -->
<link rel="stylesheet" href="lib/pace/pace.css"/>
<script type="text/javascript" src="lib/pace/pace.min.js"></script>

<!-- Bootstrap files for CSS -->
<link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="lib/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>

<!-- Custom UI bootstrap components for AngularJS -->
<script type="text/javascript"
	src="lib/bootstrap/js/ui-bootstrap-tpls-0.11.0.min.js"></script>

<!-- Cytomine IRIS files -->
<script type="text/javascript" src="mainapp.js"></script>
<script type="text/javascript" src="filters/stringFilters.js"></script>
<link rel="stylesheet" href="css/iris.css"/>

<!-- Directives -->
<script type="text/javascript" src="directives/iris-directives.js"></script>

<!-- Services -->
<script type="text/javascript" src="services/helpService.js"></script>
<script type="text/javascript" src="services/sharedService.js"></script>
<script type="text/javascript" src="services/projectService.js"></script>
<script type="text/javascript" src="services/annotationService.js"></script>
<script type="text/javascript" src="services/cytomineService.js"></script>
<script type="text/javascript" src="services/sessionService.js"></script>
<script type="text/javascript" src="services/imageService.js"></script>
<script type="text/javascript" src="services/navService.js"></script>

<!-- Controllers -->
<script type="text/javascript" src="controllers/mapController.js"></script>
<script type="text/javascript" src="controllers/helpController.js"></script>
<script type="text/javascript" src="controllers/annotationGalleryController.js"></script>
<script type="text/javascript" src="controllers/progressController.js"></script>
<script type="text/javascript" src="controllers/alertController.js"></script>
<script type="text/javascript" src="controllers/mainController.js"></script>
<script type="text/javascript" src="controllers/navController.js"></script> 
<script type="text/javascript" src="controllers/welcomeController.js"></script>
<script type="text/javascript" src="controllers/projectController.js"></script>
<script type="text/javascript" src="controllers/imageController.js"></script>
<script type="text/javascript" src="controllers/labelingController.js"></script>
<script type="text/javascript" src="controllers/termTreeController.js"></script>
<script type="text/javascript" src="controllers/imageTreeController.js"></script>
<script type="text/javascript" src="controllers/videoController.js"></script>
<script type="text/javascript" src="controllers/aboutController.js"></script>

</head>
<body ng-controller="mainCtrl">

	<nav class="navbar navbar-inverse" role="navigation">

		<div class="navbar-header">
			<a class="navbar-brand" href="#/">Cytomine IRIS</a>
			<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            	<span class="sr-only">Toggle navigation</span>
            	<span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
		</div>
		
		<div id="navbarCollapse" class="navbar-collapse collapse" ng-controller="navCtrl">
			<ul class="nav navbar-nav navbar-left">
				<li ng-class="{ active: isActive('/projects')}"><a
					id="user-nav-button" href ng-click="projects()"><span
						class="glyphicon glyphicon-list-alt"></span>&nbsp;Projects</a></li>
				<li ng-class="{ active: isActive('/images')}"><a
					id="user-nav-button" href ng-click="images()"><span
						class="glyphicon glyphicon-picture"></span>&nbsp;Images</a></li>
				<li ng-class="{ active: isActive('/label')}"><a
					id="user-nav-button" href ng-click="labeling()"><span
						class="glyphicon glyphicon-tag"></span>&nbsp;Labeling</a></li>
				<li ng-class="{ active: isActive('/gallery')}"><a
					id="user-nav-button" href ng-click="annotations()"><span
						class="glyphicon glyphicon-th"></span>&nbsp;Annotations</a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a id="help-button" href ng-click="showHelp()"> <span
						class="glyphicon glyphicon-question-sign"></span>&nbsp;Help
					</a>
				</li>

				<!-- USER DROPDOWN MENU -->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle"
						data-toggle="dropdown" dropdown> 
						<span class="glyphicon glyphicon-user"></span>
							<span ng-show="main.user">
								{{main.user.lastname}} {{main.user.firstname}} ({{main.user.username}})
							</span>
							<span ng-hide="main.user">
								Login
							</span>
						&nbsp;<span class="caret"></span>&nbsp;
					</a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a id="user-nav-button" href="#" ng-click="changeKeys()">
								<span class="glyphicon glyphicon-random"></span>&nbsp;Change keys
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	
	<div id="main" role="main">
		<div ng-show="publicKey">
			<ng-view></ng-view>
		</div>
		<div ng-hide="publicKey" ng-include src="'views/keys.html'"></div>
	</div>

	<!-- INCLUDE Templates -->
	<div ng-include="'templates/html/helpModal.html'" ng-controller="helpCtrl"></div>
	<div ng-include="'templates/html/alerts.html'"></div>

	<!-- VIDEOGULAR FILES -->
	<script type="text/javascript" src="lib/videogular/videogular.min.js"></script>
	<script type="text/javascript" src="lib/videogular/controls.min.js"></script>
	<script type="text/javascript" src="lib/videogular/overlay-play.min.js"></script>
	<script type="text/javascript" src="lib/videogular/poster.min.js"></script>
	<script type="text/javascript" src="lib/videogular/buffering.min.js"></script>
</body>
</html>