.chart {
    background: #eee;
    padding: 1px;
}

.chart div {
    width: 0;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.chart div {
    font: 11px sans-serif;
    background-color: steelblue;
    height: 4px;
    padding: 1px;
    margin: 1px;
    display: flex;
    color: black;
    box-shadow: 1px 1px 1px #666;
    text-shadow:
        0 1px 0 #fff,
        0 -1px 0 #fff,
        1px 0 0 #fff,
        -1px 0 0 #fff;
    -webkit-font-smoothing: antialiased;
}

/* text */
.chart > span {
    font: 11px sans-serif;
    /*color: black;*/
    /*text-shadow:*/
        /*0 1px 0 #fff,*/
        /*0 -1px 0 #fff,*/
        /*1px 0 0 #fff,*/
        /*-1px 0 0 #fff;*/
    /*-webkit-font-smoothing: antialiased;*/
}


rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;
}

text.mono {
    font-size: 12pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

text.axis-workweek {
    fill: #000;
}

text.axis-worktime {
    fill: #000;
}

div.tooltip {
    position: absolute;
    text-align: center;
    /*width: 60px;*/
    /*height: 28px;*/
    padding: 2px;
    font: 14px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
}