.navbar, .breadcrumb {
	border-radius: 0px;
}

.navbar {
	margin-bottom: 0px;
}

.breadcrumb {
	height: 36px;
	margin-bottom: 0px;
	/*font-size: 10pt;*/
}

.noPadding {
	padding: 0px;
}

.panel-body {
	padding: 5px;
}

.container-fluid.rounded-corners {
	border-radius: 10px;
}

.pagination-no-margin {
	margin: 0px;
}

.ng-table-counts > .btn {
	padding: 2px 8px;
	font-size: 10pt;
}

.table {
	margin: 10px 0;	
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding:4px;
}

.transparent-overlay {
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:86px;
	z-index:20;

	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(top left, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%);
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(top left, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%);
	/* Opera */
	background-image: -o-linear-gradient(top left, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.2) 100%);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255,255,255,0.2)), color-stop(1, rgba(0,0,0,0.2)));
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(top left, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%);
	/* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to bottom right, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0.2) 100%);
}

#main {
	/*TODO COLLAPSING NAVBAR!! < 768px*/
	margin-top: 106px;
	margin-bottom: 40px;
}

#alerts {
	position: relative;
	bottom: 20px;
	z-index: 400;
	margin-left: -200px;
	left: 50%;
}

#alerts .alert {
	width: 400px;
	position: relative;
	z-index: 400;
}

#alert-container {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.pager {
	margin: 5px 0px;
}

.container-pagination-group {
	position: relative;
	top: -10px;
	margin: -5px 0;
}

.pagination {
	position: relative;
	margin: 0;
}

.pagination > li > a {
	padding: 2px 8px;
}

/*Preview images for the image table*/
img.image-preview {
	max-width: 150px;
	max-height: 50px;
}

/*
Map controls.
*/
.ol-viewport {
	background: url(../images/textured_paper.jpeg) repeat;
	cursor: move;
}
/*map controls end*/
.container-100 {
	width: 100% !important;
	padding-left: 20px;
	padding-right: 20px;
}

[treecontrol] {
	font-family: inherit;
	font-size: 13px;
}

/*Elements outside a tree control, but with same indent.*/
.leaf-like-container {
	left: 20px;
	position: relative;
}

.leaf-style {
	line-height: 25px;
	padding: 5px;
}

[treecontrol] li {
	padding: 0px;
	line-height: 25px;
}

/*always include the class of the tree (tree-classic, tree-light, tree-dark)*/
[treecontrol].tree-light li .tree-selected {
	font-weight: normal;
}

[treecontrol].tree-classic li .tree-selected {
	font-weight: normal;
}

[treecontrol].tree-dark li .tree-selected {
	font-weight: normal;
}

/*Colored background of a checkbox.*/
.colorbox {
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	z-index: 0;
}

/*Shift the checkbox over the span label*/
input[type="checkbox"].colorbox-checkbox {
	left: -16px;
	z-index: 30;
	position: relative;
}

/*ngDraggable*/
/* * { */
/* 	-moz-box-sizing: border-box; */
/* 	-webkit-box-sizing: border-box; */
/* 	box-sizing: border-box; */
/* } */
[ng-drag] {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.gallery-image {
	max-height: 90px;
	max-width: 90px;
}

.context-menu {
	position: absolute;
	right: 5px;
	top: 5px;
	margin: auto;
}

.drag-checkbox {
	position: absolute;
	margin-left: 7px;
	top: 0px;
}

.drag-handle {
	cursor: move;
	position: absolute;
	background: rgba(255, 255, 255, 0.75) url(../images/drag-icon.png) repeat-y;
	height: 90px;
	width: 7px;
	vertical-align: middle;
	top: 4px;
}

/*style of any draggable container*/
.draggable-container {
	width: 100px;
	height: 100px;
	vertical-align: middle;
	display: block;
	margin: 4px;
	float: left;
	position: relative;
}

/*style of any draggable element */
[ng-drag] {
	cursor: move;
}

/* when the dragged component enters the drop area*/
[ng-drag].drag-over {
	border: solid 1px red;
}

/*style of dragged element*/
[ng-drag].dragging {
	opacity: 0.5;
}

.galleryTools {
	padding: 7px 0px;
	background-image: -webkit-linear-gradient(top, rgba(60, 60, 60, 0.9) 0%,
		rgba(34, 34, 34, 0.9) 100%);
	background-image: linear-gradient(to bottom, rgba(60, 60, 60, 0.9) 0%,
		rgba(34, 34, 34, 0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e63c3c3c',
		endColorstr='#e6222222', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
	background-repeat: repeat-x;
}

/*Override the bootstrap max width of the navbar*/
@media (max-width: 860px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}
}

.fixed-header {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	z-index: 300;
	width: 100% !important;
}

#tools-container {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 300;
	width: 100% !important;
}

.muted-links {
	position: relative;
	display: block;
	text-align: center;
}

.divider-vertical {
	margin: 0 10px;
	width: 1px;
	border-right: 1px solid #f2f2f2;
}

#tools {
	position: relative;
	bottom: 0px;
	z-index: 301;
	text-align: center;
	width: 100%;
	vertical-align: middle;
	bottom: 0px;
}

#tools .tool {
	position: relative;
	z-index: 305;
}

/*drop area style*/
[ng-drop] {
	/* 	background: rgba(0, 255, 0, 0.5); */
	/* 	text-align: center; */
	/* 	width: 600px; */
	/* 	height: 200px; */
	/* 	padding-top: 90px; */
	/* 	display: block; */
	/* 	margin: 20px auto; */
	/* 	position: relative; */
	
}

/*highlight the drop area on enter*/
[ng-drop].drag-enter {
	border: solid 5px red;
	background: rgba(0, 255, 0, 0.5);
}

[ng-drop] span.title {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 20px;
	margin-left: -100px;
	margin-top: -10px;
}

[ng-drop] div {
	position: relative;
	z-index: 2;
}

.dropshadowimg {
	border: 1px solid #bfbfbf;
	-moz-box-shadow: 5px 5px 10px #999;
	-webkit-box-shadow: 5px 5px 10px #999;
	box-shadow: 5px 5px 10px #999;
	margin-bottom: 20px;
	margin-top: 10px;
	max-width: 100% !important;
}

/*VIDEO CONTAINER XS*/
.videogular-container {
	position: relative;
	display: block;
	width: 100%;
	height: 250px;
	margin: auto;
	overflow: hidden;
}

/*VIDEO CONTAINER SMALL*/
.videogular-container-sm {
	width: 50%;
	height: 250px;
	margin: auto;
	overflow: hidden;
}

/*VIDEO CONTAINER XS*/
.videogular-container-xs {
	position: relative;
	display: block;
	width: 250px;
	height: 250px;
	margin: auto;
	overflow: hidden;
}

/* A collapsible scrollable side bar*/
div[id^="sidebar"] {
	width: 240px;
	margin-left: 10px;
	padding: 5px;
	height: 100%;
	position: absolute;
	background: #f5f5f5;
	box-shadow: inset 0 0 10px #bebcc1;
	z-index: 10;
}

div[id^="sb-main-content"] {
	margin-left: 260px;
}

div[class^="sidebar-toggler"] {
	padding: 2px;
	width: 20px;
	height: 100%;
	left: 0;
	position: fixed;
	background: #bebcc1;
	cursor: pointer;
	z-index: 30;
}

/*Preview images for the annotations table*/
img.annotation-preview-small {
	max-width: 70px;
	max-height: 70px;
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.user-stats {
	border-top: 2px solid #bfbfbf;
	margin: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* add the pointer cursor for the navtabs */
.nav-tabs > li {
	cursor: pointer;
}

/* slider */
.ui-slider-tick {
	position: absolute;
	background-color: #aaa;
	width: 2px;
	height: 8px;
	top: 16px;
}

.ui-slider {
	position: relative;
}

.slider > div {
	margin: 4px 0px;
}

.slider {
	width: 200px;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 4px;
}

.sliderpanel {
	margin-top: 10px;
	display: inline-block;
	background-color: #f5f5f5;
	padding: 5px;
	width: 100%;
	border: 1px solid darkgray;
}

.sliderpanel > * {
	float: left;
}

.ui-slider-out-of-bounds {
	position: absolute;
	background-color: #EEE;
	height: 100%;
}



