.navbar {
	border-radius: 0px;
}

.noPadding {
	padding: 0px;
}

.panel-body {
	padding: 5px;
}

.container-fluid.rounded-corners {
	border-radius: 10px;
}

.pagination-no-margin {
	margin: 0px;
}

.table {
	margin: 10px 0;	
}

#main {
	margin-bottom: 40px;
}

#alerts {
	position: relative;
	bottom: 20px;
	z-index: 400;
	margin-left: -200px;
	left: 50%;
}

#alerts .alert {
	width: 400px;
	position: relative;
	z-index: 400;
}

#alert-container {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.pager {
	margin: 5px 0px;
}

.container-pagination-group {
	position: relative;
	top: -10px;
	margin: -5px 0;
}

.pagination {
	position: relative;
	margin: 0;
}

.pagination > li > a {
	padding: 2px 8px;
}

/*Preview images for the image table*/
img.image-preview {
	max-width: 150px;
	max-height: 50px;
}

/*
Map controls.
*/
.ol-viewport {
	background: url('../images/textured_paper.jpeg') repeat;
	cursor: move;
}
/*map controls end*/
.container-100 {
	width: 100% !important;
	padding-left: 20px;
	padding-right: 20px;
}

[treecontrol] {
	font-family: inherit;
	font-size: 13px;
}

/*Elements outside a tree control, but with same indent.*/
.leaf-like-container {
	left: 20px;
	position: relative;
}

.leaf-style {
	line-height: 25px;
	padding: 5px;
}

[treecontrol] li {
	padding: 0px;
	line-height: 25px;
}

/*always include the class of the tree (tree-classic, tree-light, tree-dark)*/
[treecontrol].tree-light li .tree-selected {
	font-weight: normal;
}

[treecontrol].tree-classic li .tree-selected {
	font-weight: normal;
}

[treecontrol].tree-dark li .tree-selected {
	font-weight: normal;
}

/*Colored background of a checkbox.*/
.colorbox {
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	z-index: 0;
}

/*Shift the checkbox over the span label*/
input[type="checkbox"].colorbox-checkbox {
	left: -16px;
	z-index: 30;
	position: relative;
}

/*ngDraggable*/
/* * { */
/* 	-moz-box-sizing: border-box; */
/* 	-webkit-box-sizing: border-box; */
/* 	box-sizing: border-box; */
/* } */
[ng-drag] {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.gallery-image {
	max-height: 90px;
	max-width: 90px;
}

.context-menu {
	position: absolute;
	right: 5px;
	top: 5px;
	margin: auto;
}

.drag-checkbox {
	position: absolute;
	margin-left: 7px;
	top: 0px;
}

.drag-handle {
	cursor: move;
	position: absolute;
	background: url(/images/drag-icon.png);
	background-color: rgba(255, 255, 255, 0.75);
	background-repeat: repeat-y;
	height: 90px;
	width: 7px;
	vertical-align: middle;
	top: 4px;
}

/*style of any draggable container*/
.draggable-container {
	width: 100px;
	height: 100px;
	vertical-align: middle;
	display: block;
	margin: 4px;
	float: left;
	position: relative;
}

/*style of any draggable element */
[ng-drag] {
	cursor: move;
}

/* when the dragged component enters the drop area*/
[ng-drag].drag-over {
	border: solid 1px red;
}

/*style of dragged element*/
[ng-drag].dragging {
	opacity: 0.5;
}

.galleryTools {
	padding: 7px 0px;
	background-image: -webkit-linear-gradient(top, rgba(60, 60, 60, 0.9) 0%,
		rgba(34, 34, 34, 0.9) 100%);
	background-image: linear-gradient(to bottom, rgba(60, 60, 60, 0.9) 0%,
		rgba(34, 34, 34, 0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e63c3c3c',
		endColorstr='#e6222222', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
	background-repeat: repeat-x;
}

#tools-container {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100% !important;
	z-index: 300;
	width: 100% !important;
}

.divider-vertical {
	margin: 0 10px;
	width: 1px;
	border-right: 1px solid #f2f2f2;
}

#tools {
	position: relative;
	bottom: 0px;
	z-index: 301;
	text-align: center;
	width: 100%;
	vertical-align: middle;
	bottom: 0px;
}

#tools .tool {
	position: relative;
	z-index: 305;
}

/*drop area style*/
[ng-drop] {
	/* 	background: rgba(0, 255, 0, 0.5); */
	/* 	text-align: center; */
	/* 	width: 600px; */
	/* 	height: 200px; */
	/* 	padding-top: 90px; */
	/* 	display: block; */
	/* 	margin: 20px auto; */
	/* 	position: relative; */
	
}

/*highlight the drop area on enter*/
[ng-drop].drag-enter {
	border: solid 5px red;
	background: rgba(0, 255, 0, 0.5);
}

[ng-drop] span.title {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 20px;
	margin-left: -100px;
	margin-top: -10px;
}

[ng-drop] div {
	position: relative;
	z-index: 2;
}

.dropshadowimg {
	border: 1px solid #bfbfbf;
	-moz-box-shadow: 5px 5px 10px #999;
	-webkit-box-shadow: 5px 5px 10px #999;
	box-shadow: 5px 5px 10px #999;
	margin-bottom: 20px;
	margin-top: 10px;
}


/*VIDEO CONTAINER*/
.videogular-container-sm {
	width: 50%;
	height: 250px;
	margin: auto;
	overflow: hidden;
}