.navbar {
	border-radius: 0px;
}

.noPadding {
	padding: 0px;
}

.container-fluid.rounded-corners {
	border-radius: 10px;
}

.pagination-no-margin {
	margin: 0px;
}

#alerts {
	position: absolute;
	bottom: 10px;
	z-index: 2200;
	margin-left: -200px;
	left: 50%;
}

#alerts .alert {
	width: 400px;
}


#alert-container {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.pager {
	margin: 5px 0px;
}

div.olMap {
	width: 300px;
	height: 300px;
	border: 1px solid black;
}