<div class="container text-center">
    <div class="text-center">
        <img src="images/500-client.png" alt=""/>

        <h1><strong>OOOOOPS...</strong></h1>

        <h1>An error occurred on the server, your request could not be processed.</h1>
        We are very sorry and try to fix this issue as soon as possible.
        <br/>
        If you think that this is a permanent issue, please inform the administrator of this page.
        <br/>
        Please try again, use the menu for navigation or <a href="#/projects">select a project from the list</a>.
    </div>
</div>