<div class="container" ng-controller="aboutCtrl">
	<div class="alert alert-danger" ng-show="about.error">{{
		about.error.message }}</div>

	<div class="panel panel-default" ng-hide="about.error">
		<div class="panel-heading">
			<h4 class="panel-title">About Cytomine IRIS</h4>
		</div>
		<div class="panel-body">
			<table class="table">
				<tr>
					<th>Property</th>
					<th>Value</th>
				</tr>
				<tr>
					<td>Name</td>
					<td>{{about.appInfo.appName}}</td>
				</tr>
				<tr>
					<td>Version</td>
					<td>{{about.appInfo.appVersion}}</td>
				</tr>
				<tr>
					<td>IRIS application host</td>
					<td>{{about.appInfo.irisHost}}</td>
				</tr>
				<tr>
					<td>IRIS application context</td>
					<td>{{about.appInfo.appContext}}</td>
				</tr>
				<tr>
					<td>Cytomine host (available)</td>
					<td>{{about.appInfo.cytomineHost.host}}
						({{about.appInfo.cytomineHost.available}})</td>
				</tr>
				<tr>
					<td>Cytomine web</td>
					<td><a href="{{about.appInfo.cytomineWeb}}">{{about.appInfo.cytomineWeb}}</a></td>
				</tr>
				<tr>
					<td>Grails/Servlet version</td>
					<td>{{about.appInfo.grailsVersion}} /
						{{about.appInfo.servletVersion}}</td>
				</tr>
			</table>
			<!-- 		<ul> -->
			<!-- 		    <li>Name: {{about.appInfo.appName}}</li> -->
			<!-- 			<li>Version: {{about.appInfo.appVersion}}</li> -->
			<!-- 			<li>Cytomine host: {{about.appInfo.cytomineHost.host}}, available: {{about.appInfo.cytomineHost.available}}</li> -->
			<!-- 			<li>Cytomine web: {{about.appInfo.cytomineWeb}}</li> -->
			<!-- 			<li>Grails version: {{about.appInfo.grailsVersion}}</li> -->
			<!-- 			<li>Servlet version: {{about.appInfo.servletVersion}}</li> -->
			<!-- 		</ul> -->
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;Application Support</h4>
		</div>
		<div class="panel-body" style="padding:10px;">
			Cytomine IRIS - the interobserver reliability study module - is
			developed by Philipp Kainz, Institute of Biophysics, Medical
			University of Graz. <br/>
			Please report errors or issues to <a href="{{'mailto:' + supportLink()}}">{{supportLink()}}</a>.
	</div>
</div>