<div class="container" data-ng-controller="mainCtrl">
	<p>
		<h4>Please enter your private and public key pair</h4> 
		If you did not receive them via email, you can access them on the Cytomine web page. 
		Log into Cytomine (<a href="http://beta.cytomine.be/#account" target="_blank">http://beta.cytomine.be/#account</a>) 
		using your user name and password and retrieve the API KEYS from your account.
	</p>
	<table class="table">
		<tr>
			<td>
				<label for="publicKey" class="control-label">Public Key:</label>
			</td>
			<td>
				<input id="publicKey" type="text" ng-model="publicKeyCurrent" class="form-control">
			</td>
		</tr>
		
		<tr>
			<td>
				<label for="privateKey"	class="control-label">Private Key:</label>
			</td>
			<td>
				<input id="privateKey" type="text" ng-model="privateKeyCurrent" class="form-control"> 
			</td>
		</tr>
	</table>
	<div class="alert alert-danger text-center" ng-show="error">
		<b>{{ error.message }}</b>
	</div>
	<p class="text-center">
		<a class="btn btn-primary" href="#" data-ng-click="saveKeys()">Save keys and proceed</a>
	</p>
</div>