<script type="text/javascript">
    $(function(){
        $('.sidebar-toggler-agreement').on('click', function(){
            // toggle the sidebar
            $('#sidebar-agreement').toggle('slide', { direction: 'left' }, 500);

            $('#sb-main-content-agreement').animate({
                'margin-left' : $('#sb-main-content-agreement').css('margin-left') == '20px' ? '260px' : '20px'
            }, 500);
        });
    });
</script>

<div ng-controller="agreementStatsCtrl">
    <div id="sidebar-agreement">
        <div style="max-height: 100%; overflow: auto">
            <ng-include src="'templates/html/userTree.html'"></ng-include>
            <ng-include src="'templates/html/termTree.html'"></ng-include>
            <ng-include src="'templates/html/imageTree.html'"></ng-include>
        </div>
    </div>
    <div class="sidebar-toggler-agreement" ng-click="setCollapsed(!stats.sbcollapsed)">
        <div ng-show="stats.sbcollapsed">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div ng-show="!stats.sbcollapsed">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </div>
    </div>
    <div id="sb-main-content-agreement">
        <div ng-show="loading">
            <p class="text-center">
                <p class="text-center">
                    Loading user agreements, this may take a while...
                </p>
                <img class="img-responsive center-block" src="images/ajax-loader.gif"/>
            </p>
        </div>

        <div ng-hide="loading">
            <ng-include src="'templates/html/refreshPanel.html'"></ng-include>
            <div ng-repeat="id in [1,2,3]" class="row user-stats">
                <div class="col-md-3">

                </div>
                <div class="col-md-9" style="overflow:auto;">
                    <div style="max-height: 300px; overflow:auto;">
                        <heatmap-chart terms="terms"></heatmap-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>