<script type="text/javascript">
    // sidebar toggling on dom ready
    $(function(){
        $('.sidebar-toggler-ann').on('click', function(){
            // toggle the sidebar
            $('#sidebar-ann').toggle('slide', { direction: 'left' }, 500);

            $('#sb-main-content-ann').animate({
                'margin-left' : $('#sb-main-content-ann').css('margin-left') == '20px' ? '260px' : '20px'
            }, 500);
        });
    });
</script>

<div ng-controller="annStatsCtrl">
    <div id="sidebar-ann">
        <div style="max-height: 100%; overflow: auto">
            <user-tree ng-controller="userTreeCtrl"></user-tree>
            <term-tree ng-controller="termTreeCtrl" parentid="annStats"></term-tree>
            <image-tree ng-controller="imageTreeCtrl"></image-tree>
        </div>
    </div>
    <div class="sidebar-toggler-ann" ng-click="setCollapsed(!annstats.sbcollapsed)">
        <div ng-show="annstats.sbcollapsed">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div ng-show="!annstats.sbcollapsed">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </div>
    </div>


    <div id="sb-main-content-ann">

        <div ng-show="annstats.error">
            <div class="alert alert-danger text-center" ng-show="annstats.error.retrieve">
                {{annstats.error.retrieve.message}}
            </div>
            <div class="alert alert-info text-center" ng-show="annstats.error.empty">
                {{annstats.error.empty.message}}
                <br/>
                Please select another filter from the panel on the left side and press REFRESH.
            </div>
        </div>

        <div ng-show="warn.noUsers" class="alert alert-info text-center">
            {{ warn.noUsers.message }}
        </div>
        <div ng-show="warn.noLabel" class="alert alert-info text-center">
            {{ warn.noLabel.message }}
        </div>
        <div ng-show="warn.noImage" class="alert alert-info text-center">
            {{ warn.noImage.message }}
        </div>
        <div ng-show="error" class="alert alert-danger text-center">
            {{ error.message }}
        </div>

        <div ng-show="loading">
            <p class="text-center">

            <p class="text-center">
                Loading annotation agreements, this may take a while...
            </p>
            <img class="img-responsive center-block" src="images/ajax-loader.gif"/>
            </p>
        </div>

        <div ng-hide="loading">
            <ng-include src="'templates/html/refreshPanel.html'"></ng-include>


            <div ng-hide="annstats.error">
                <div class="text-center">
                    <div class="sliderpanel">
                        <div tooltip="Drag the slider to filter annotations by agreement level"><b>Agreement Level</b></div>

                        <div ui-slider="annstats.slider.options"
                             class="slider"
                             min="{{annstats.slider.min}}"
                             max="{{annstats.slider.max}}"
                             ng-model="annstats.slider.value"></div>

                        <div>{{annstats.slider.value}} users ({{(100*annstats.slider.value/annstats.slider.max).toFixed(0)}}%)</div>
                    <span class="pull-right">Showing annotation {{ annstats.pageItemMin+1 }} to {{ annstats.pageItemMax }} (<strong>{{
                        annstats.total }}</strong> in total)</span>
                    </div>
                </div>
                <table ng-table="tableParams" class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <!--<th></th>-->
                        <th colspan="2">Annotations</th>
                        <!--<th></th>-->
                        <th colspan="{{usercolumns.length}}" class="text-center">Users</th>
                    </tr>
                    <tr>
                        <!--<th>ID</th>-->
                        <th>Preview</th>
                        <th>Agreement</th>
                        <!--<th>Actions</th>-->
                        <th ng-repeat="column in usercolumns" ng-show="column.visible">
                            {{column.title}}
                        </th>
                    </tr>
                    </thead>
                    <tbody style="font-size: 12px;">
                    <!-- iterate over all annotations -->
                    <tr ng-repeat="item in data">
                        <!--<td>{{item.cmID}}</td>-->
                        <td class="text-center">
                            <a class="fancybox" data-fancybox-group="gallery"
                               href="{{ addKeys(item.smallCropURL) }}"
                               title="{{ 'Annotation ID: ' + item.cmID }}">
                                <img class="annotation-preview-small" src="{{ addKeys(item.smallCropURL) }}"/>
                        </a>
                        </td>
                        <td style="min-width: 200px;">
                            <bars-chart chart-data="item.assignmentRanking" terms="terms"></bars-chart>
                        </td>
                        <!--<td>
                            <div class="btn-group" dropdown>
                                <button type="button" style="width:100px;" class="btn btn-primary btn-sm"
                                        ng-click="startLabeling(item)"
                                        ng-class="{ 'disabled' : item.numberOfAnnotations=='0' || (image.opening.cmID) }">
                                          <span ng-show="image.opening.cmID === item.cmID">
                                               <img src="images/ajax-loader-xs.gif" alt=""/>
                                          </span>
                                          <span ng-show="image.opening.cmID !== item.cmID">
                                             Start Labeling
                                          </span>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                        ng-class="{ 'disabled': image.opening.cmID }">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu text-left" role="menu">
                                    <li ng-class="{ 'disabled' : item.settings.numberOfAnnotations===0 }"><a
                                            ng-click="annotationGallery(item)" href>
                                        View Annotation Gallery
                                    </a></li>
                                    <li class="divider"></li>
                                    <li><a target="_blank" href="{{item.goToURL}}">
                                        Explore in Cytomine
                                    </a></li>
                                </ul>
                            </div>
                        </td>-->
                        <td ng-repeat="column in usercolumns" ng-show="column.visible">
                            <!-- term ID -->
                            <!--<span>{{ item[column.userStats][column.userID] ||  '' }}</span>-->
                            <!-- term name -->
                        <span   ng-show="item[column.userStats][column.userID]"
                                popover-placement="top"
                                popover="{{usermap[column.userID].lastname + ' '
                                        + usermap[column.userID].firstname}}"
                                popover-trigger="mouseenter">
                            <span ng-style="{ 'background': terms[item[column.userStats][column.userID]].color }"
                                  style="border: 1px solid black">&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;{{ terms[item[column.userStats][column.userID]].name }}
                        </span>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>