<div ng-controller="termTreeCtrl" id="termTree-UI">
	<div ng-show="tree.loading">
   		<p class="text-center">
   			Loading Ontology Terms...
   		</p>
  		<img class="img-responsive center-block" src="images/ajax-loader-xs.gif" alt=""/>
	</div>
	<div ng-hide="tree.loading">
		<h5>Ontology: {{treeData.name}}&nbsp;<a href="" ng-click="showTree=!showTree"><span class="label label-default" ng-show="showTree" tooltip-placement="right" tooltip="hide the term tree">hide</span><span class="label label-default" ng-show="!showTree" tooltip-placement="right" tooltip="show the term tree">show</span></a></h5>
		<span id="{{ 'dropTarget:' + node.id }}" class="leaf-like-container" ng-drop="true" ng-drop-success="onDropComplete($data,$event,-99)">
			<span id="{{ parentid + ':treeTermLabel:-99' }}" class="label label-warning leaf-style" href="" ng-click="selectOrUnselectTerm($event)"><input id="{{ parentid + ':chbxTerm:-99' }}" type="checkbox">&nbsp;No term assigned</span>
		</span> 
		<hr style="margin:5px;">
		<!-- the ontology tree -->
		<div ng-show="showTree"
			treecontrol="" class="tree-light" tree-model="treeData" on-node-toggle="showToggle(node, expanded)"
			options="treeOptions" expanded-nodes="expandedNodes">
			<span ng-click="selectOrUnselectTerm($event, node.id)">
				<span ng-switch="node.isFolder">
					<span ng-switch-when="true">
						<span id="{{ parentid + ':treeTermLabel:' + node.id }}">{{ node.name }}</span>
					</span>
					<span ng-switch-when="false">
						<span id="{{ 'dropTarget:' + node.id }}" ng-drop="true" ng-drop-success="onDropComplete($data,$event,node.id)">
							<span id="{{ parentid + ':treeTermColorPanel:' + node.id }}" style="background:{{node.color}}" class="colorbox">&nbsp;&nbsp;&nbsp;&nbsp;</span><input id="{{ parentid + ':chbxTerm:' + node.id }}" class="colorbox-checkbox" type="checkbox">
							<span id="{{ parentid + ':treeTermLabel:' + node.id }}">{{ node.name }}</span>
						</span>
					</span>
				</span>
			</span>
		</div>
		<!-- end ontology tree -->
		
		<div class="row" style="margin-top:20px">
			<div class="col-xs-12">
				<div class="btn btn-xs btn-info" ng-click="checkAllTerms()" style="width: 90px">Check all</div>
				<div class="btn btn-xs btn-info" ng-click="expandAll()" style="width: 90px">Expand all</div>
				<p class="clearfix" style="margin:2px;"></p>
				<div class="btn btn-xs btn-default" ng-click="uncheckAllTerms()" style="width: 90px">Uncheck all</div>
				<div class="btn btn-xs btn-default" ng-click="collapseAll()"style="width: 90px">Collapse all</div>
			</div>
		</div>
	</div>
</div>

<!-- {{ ontology | json }} -->