<div ng-controller="imageAccessTableCtrl">

    <div ng-show="image.error">
        <div class="alert alert-danger text-center" ng-show="image.error.retrieve">
            {{image.error.retrieve.message}}
        </div>
        <div class="alert alert-info text-center" ng-show="image.error.empty">
            {{image.error.empty.message}}
            <br/>
            Please select another one from the <a href ng-click="navToProjects()">project list</a>.
        </div>
    </div>

    <div ng-show="loading">
        <p class="text-center">

        <p class="text-center">
            Loading images of selected project...
        </p>
        <img class="img-responsive center-block" src="images/ajax-loader.gif"/>
        </p>
    </div>

    <div ng-hide="loading" style="position: relative;
            display: table;
            margin-left: auto;
            margin-right: auto;">
        <ng-include src="'templates/html/refreshPanel.html'"></ng-include>

        <!--{{tableParams.filter() | json}}-->
        <div ng-hide="image.error">
            <div class="text-center" style="margin-top:4px;">
                This project has <span class="label label-primary">{{ image.total }}</span> image<span ng-hide="image.total == 1">s</span><span ng-hide="image.nDisabled == 0">, where
                    <span class="label label-warning">{{ image.nDisabled }}</span> image<span ng-hide="image.nDisabled == 1">s</span>
                can't be accessed by {{user.cmFirstName + ' ' + user.cmLastName}}</span>.
            </div>
            <table ng-table="tableParams" show-filter="true" class="table table-hover table-bordered">
                <tbody>
                <tr ng-repeat="item in data" ng-class="{ 'success' : item.settings.progress===100 }">
                    <td data-title="'ID'" sortable="'cmID'">{{item.cmID}}</td>
                    <td data-title="'Preview'" class="text-center"><img class="img-rounded image-preview"
                                                                        src="{{ addKeys(item.macroURL) }}"/></td>
                    <td data-title="'Name'" sortable="'originalFilename'" filter="{ 'originalFilename': 'text' }">
                        {{item.originalFilename}}
                        <span ng-show="(today - item.cmCreated) <= image.stillNew"
                              class="label label-success pull-right">New!</span>

                        <p class="text-muted">{{item.width | number}} x {{item.height | number}} px</p>
                    </td>
                    <!--<td data-title="'# Labels by User'" sortable="'settings.labeledAnnotations'" class="text-center">-->
                         <!--{{ item.settings.labeledAnnotations }}-->
                    <!--</td>-->
                    <td data-title="'Progress'" sortable="'settings.progress'" class="text-center" style="min-width:150px;">
                        <div ng-switch="{{item.settings.numberOfAnnotations}}">
                            <div ng-switch-when="0" class="label label-info">No Annotations!</div>
                            <div ng-switch-default>
                                <div ng-controller="progressCtrl"
                                     ng-include="'templates/html/progressPanel.html'"></div>
                            </div>
                        </div>
                    </td>
                    <td data-title="'Enabled'">
                        <input id="{{ item.cmID + ':checkBox:imageEnabled' }}" type="checkbox" ng-model="item.settings.enabled"
                                ng-click="setImageEnabled(item, !item.settings.enabled)"/> {{ item.settings.enabled }}
                    </td>

                </tr>
                </tbody>
            </table>
            <span>Showing image {{ image.pageItemMin+1 }} to {{ image.pageItemMax }} (<strong>{{ image.total }}</strong> in total)</span>
        </div>
    </div>
</div>