<div ng-controller="imageTreeCtrl" id="imageTree-UI">
	<div ng-show="tree.loading">
  		<p class="text-center">
  		Loading images...
  		</p>
  			<img class="img-responsive center-block" src="images/ajax-loader.gif"/>
  		</p>
	</div>
	<div ng-hide="tree.loading">
		<h5>Images&nbsp;<a href="" ng-click="showTree=!showTree"><span class="label label-default" ng-show="showTree" tooltip-placement="right" tooltip="hide the images tree">hide</span><span class="label label-default" ng-show="!showTree" tooltip-placement="right" tooltip="show the images tree">show</span></a></h5>
		<div ng-show="showTree"
			treecontrol="" class="tree-light" tree-model="treeData" options="treeOptions" on-selection="selectOrUnselectImage(event)">
			<input id="{{ 'chbxImage-' + node.cmID }}" type="checkbox" ng-checked="true">
			<span id="{{ 'treeImageLabel-' + node.cmID }}">{{ node.originalFilename }}</span>
		</div>
		<div class="row" style="margin-top:20px">
			<div class="col-xs-12">
				<div class="btn btn-xs btn-info" ng-click="checkAllImages()" style="width: 90px">Check all</div>
<!-- 				<p class="clearfix" style="margin:2px;"></p> -->
				<div class="btn btn-xs btn-default" ng-click="uncheckAllImages()" style="width: 90px">Uncheck all</div>
			</div>
		</div>
	</div>
</div>

<!-- {{ ontology | json }} -->