<script type="text/ng-template" id="settingsUserImagesModal.html">
    <div class="modal-header">
        <h4 class="modal-title">
            <span class="glyphicon glyphicon-picture"></span>
            <span class="glyphicon glyphicon-edit"></span>&nbsp;Image Access Settings for {{user.cmFirstName + ' ' + user.cmLastName}}</h4>
    </div>

    <div class="modal-body">
        <div ng-hide="error.show">

            <!-- controller of this modal is present in settingsUserCtrl! -->
            <ng-include src="'templates/html/imageAccessTable.html'"></ng-include>

        </div>
        <div ng-show="error.show" class="alert alert-danger" >
            Error: {{ error.message }} ({{ error.status }}).
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
    </div>
</script>
