<script type="text/ng-template" id="nodes_renderer.html">
	<!-- recursive resolving of the hierarchy -->
	<div style="margin-bottom:5px;">
		<span ng-hide="child.isFolder" style="background : {{child.color}};" class="label">&nbsp;&nbsp;</span> 
		<span ng-class="{ 'btn btn-xs btn-default' : !child.isFolder }" ng-click="assign(child)">{{child.title}}</span>
	</div>
	<div ng-model="child.children">
		<div class="container-fluid" style="border: 0px dashed black" ng-repeat="child in child.children" ng-include="'nodes_renderer.html'"></div>
	</div>
</script>

<div ng-model="ontology">
	<!-- 	first hierarchy level (at root level) -->
	<div class="col-xs-6" style="border: 0px solid red; margin-bottom: 5px;" ng-repeat="child in ontology.children" ng-include="'nodes_renderer.html'"></div>
</div>

<!-- {{ ontology | json }} -->