<script type="text/javascript">
    $(function(){
        $('.sidebar-toggler-user').on('click', function(){
            // toggle the sidebar
            $('#sidebar-user').toggle('slide', { direction: 'left' }, 500);

            $('#sb-main-content-user').animate({
                'margin-left' : $('#sb-main-content-user').css('margin-left') == '20px' ? '260px' : '20px'
            }, 500);
        });
    });
</script>

<div ng-controller="userStatsCtrl">
    <div id="sidebar-user">
        <div style="max-height: 100%; overflow: auto">
            <ng-include src="'templates/html/userTree.html'"></ng-include>
            <ng-include src="'templates/html/termTree.html'"></ng-include>
            <ng-include src="'templates/html/imageTree.html'"></ng-include>
        </div>
    </div>
    <div class="sidebar-toggler-user" ng-click="setCollapsed(!stats.sbcollapsed)">
        <div ng-show="stats.sbcollapsed">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div ng-show="!stats.sbcollapsed">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </div>
    </div>


    <div id="sb-main-content-user">
        <div ng-show="loading">
            <p class="text-center">

            <p class="text-center">
                Loading user statistics, this may take a while...
            </p>
            <img class="img-responsive center-block" src="images/ajax-loader.gif"/>
            </p>
        </div>

        <div ng-hide="loading">
            <ng-include src="'templates/html/refreshPanel.html'"></ng-include>

            <!-- make a grid for the user statistics-->
            <div class="row user-stats" ng-repeat="data in dataset track by $index">
                <div class="col-md-3">
                    <h4 class="">{{data[0].user.lastname}} {{data[0].user.firstname}}</h4>
                    <p>
                        User labeled: {{data[0].user.summary.total}}
                    </p>
                    <p>
                        Annotations with labels: {{globalStats.labeled}}
                    </p>
                    <p>
                        Annotations in total: {{globalStats.total}}
                    </p>
                    <div class="row">
                        <!-- TODO visualize the user progress -->
                    </div>
                </div>
                <div class="col-md-9">
                    <nvd3 id="{{ 'barChartUserStats' + data[0].user.id }}" options="barChartOptions" data="data"></nvd3>
                </div>
            </div>
        </div>
    </div>
</div>