<div class="container-100" ng-controller="annotationGalleryCtrl">
	<div class="row">
		<div class="col-xs-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Filters for {{projectName}}</h4>
				</div>
				<div class="panel-body">
					<ng-include src="'templates/html/termTree.html'"></ng-include>
					<hr>
					<ng-include src="'templates/html/imageTree.html'"></ng-include>
				</div>
<!-- 				<div class="panel-footer"> -->
<!-- 					Footer -->
<!-- 				</div> -->
			</div>
		</div>
		
		<div class="col-xs-9">
			 <!-- TODO implement the ng-repeat for all filtered terms -->
			 <div class="row" ng-repeat="group in annotation.groups">
			 	<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">{{ group.termName || 'TODO Term Name' }}</h4>
					</div>
					<div class="panel-body">
						<div ng-repeat="item in annotations" ng-drag="false" ng-drag-data="item">
	<!-- 						<div class="vertical-center"> -->
							<img src="{{item.cmSmallCropURL}}" style="max-height:100px; max-width:100px" alt=""/>
	<!-- 						<div> -->
						</div>
					</div>
					<!-- END BODY -->
					<!-- <div class="panel-footer">
						<div ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
							<div ng-repeat="item in droppedObjects" ng-drag="true" ng-drag-data="item" ng-drag-success="onDragSuccess($item,$event)">
								col {{item.name}}
							</div>
						</div>	
					</div>-->
					<!-- END FOOTER -->
				</div>
				<!-- END PANEL -->
			 </div>
			 <!-- END GROUPS -->
		</div>
	</div>	
</div>