<div class="container-100" ng-controller="annotationGalleryCtrl">
	<div class="row">
		<div class="col-xs-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Filters for {{projectName}}</h4>
				</div>
				<div class="panel-body">
					<ng-include src="'templates/html/termTree.html'"></ng-include>
					<hr>
					<ng-include src="'templates/html/imageTree.html'"></ng-include>
				</div>
				<div class="panel-footer">
					<ng-include src="'templates/html/refreshPanel.html'"></ng-include>
				</div>
			</div>
		</div>
		
		<div class="col-xs-9">
			<div ng-show="warn.noLabel" class="alert alert-info text-center">
				{{ warn.noLabel.message }}
			</div>
			<div ng-show="warn.noImage" class="alert alert-info text-center">
				{{ warn.noImage.message }}
			</div>
			<div ng-show="error" class="alert alert-danger text-center">
				{{ error.message }}
			</div>
			<div ng-show="loading">
				<p class="text-center">
		   			Loading annotations, this may take a while...
		   		</p>
		  		<img class="img-responsive center-block" src="images/ajax-loader.gif" alt=""/>
			</div>
		
			 <div ng-hide="error || loading" class="row" ng-repeat="group in annotation.groups">
			 	<div id="{{ 'panel-group' + group.termID }}" class="panel panel-default">
					<div id="{{ 'panel-heading' + group.termID }}" class="panel-heading" ng-drop="true" ng-drop-success="onDropComplete($data,$event,group.termID)">
						<h4 class="panel-title">{{ group.termName }} <span class="text-muted" style="font-size: 12px">{{ group.termID }}</span>
						<span class="pull-right">
							<span class=text-muted>
									{{ group.annotations.length }} Annotation{{ group.annotations.length == 1?'':'s' }}
<!-- 								{{ ... }} TODO print number of selected items in this group -->
							</span>
							<span>
								<button id="{{ 'selectAll' + group.termID }}" type="button" class="btn btn-xs btn-info" ng-click="selectAllAnnotations(group.termID)">Check all</button>
								<button id="{{ 'unSelectAll' + group.termID }}" type="button" class="btn btn-xs btn-default" ng-click="unSelectAllAnnotations(group.termID)">Uncheck all</button>
							</span>
						</span>
						</h4>
					</div>
					<div id="{{ 'panel-body' + group.termID }}" class="panel-body">
<!-- 					TODO implement pagination of objects in the panel -->
						<div ng-repeat="item in group.annotations" id="{{ 'item-' + item.cmID }}">
							<div class="draggable-container thumbnail">
								<span class="drag-checkbox"><input id="{{ 'checkbox-' + item.cmID }}" type="checkbox" ng-model="selectedAnnotations" ng-change="selectAnnotation(item)"></span>
								<span class="drag-handle" ng-drag="true" ng-drag-data="item"></span>
								<div class="context-menu btn-group dropup" dropdown>
									<button type="button" class="btn btn-default btn-xs dropdown-toggle" role="button" href="#">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="" ng-click="labelAnnotation(item)">Assign another label...</a></li>
										<hr class="separator" style="margin:5px;"/>
										<li><a href="{{ item.cmImageURL }}" target="_blank">View in Cytomine</a></li>
									</ul>
								</div>
								<span>
									<a href="" ng-click="labelAnnotation(item)"><img id="{{ 'thumb-' + item.cmID }}" src="{{ item.cmSmallCropURL }}" style="max-height:90px; max-width:90px; position:relative;" alt=""/></a>
								</span>
							</div>
						</div>
					</div>
					<!-- END BODY -->
					<!-- <div id="{{ 'panel-footer-' + group.termName }}" class="panel-footer">
						<div ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
							<div ng-repeat="item in droppedObjects" ng-drag="true" ng-drag-data="item" ng-drag-success="onDragSuccess($item,$event)">
								col {{item.name}}
							</div>
						</div>	
					</div>-->
					<!-- END FOOTER -->
				</div>
				<!-- END PANEL -->
			 </div>
			 <!-- END GROUPS -->
		</div>
	</div>
	<div id="tools-container" class="clearfix">
		<div id="tools" class="galleryTools clearfix">
			<span class="tool">
				<select ng-model="chosenTerm" ng-options="value for (key, value) in $root.termList">
					<option value="">-- choose a label for assignment --</option>
				</select>
				<button type="button" class="btn btn-danger btn-xs" ng-click="assignTermToSelectedItems()" ng-class="{ 'disabled' : !(chosenTerm && hasSelections())}">Apply to selection</button>
				<button type="button" class="btn btn-default btn-xs" ng-click="clearAllSelectedItems()" ng-class="{ 'disabled' : !hasSelections() }">Clear selection</button>
			</span>
			<span class="divider-vertical"></span>
			<span class="tool">
				<button class="btn btn-primary btn-xs" ng-click="refreshPage()">
					<span class="glyphicon glyphicon-refresh"></span> Refresh filter
				</button>
			</span>
		</div>
	</div>
</div>