<div class="container" ng-controller="imageCtrl">

<!-- TODO Show a warning panel if there is no current project in this session -->
<!-- <div ng-show="currentProject==null">
		<ng-include src="'templates/html/openProjectPanel.html'"></ng-include>
	</div>
-->
    <div ng-show="image.error">
		<div class="alert alert-danger text-center" ng-show="image.error.retrieve">
       	 	{{image.error.retrieve.message}}
        </div>
        <div class="alert alert-info text-center" ng-show="image.error.empty">
        	{{image.error.empty.message}} 
        	<br/>
        	Please select another one from the <a href ng-click="navToProjects()">project list</a>.
    	</div>
    </div>

    <div ng-show="loading">
	    <p class="text-center">
    		<p class="text-center">
    		Loading images of selected project...
    		</p>
   			<img class="img-responsive center-block" src="images/ajax-loader.gif"/>
   		</p>	
   	</div>
    
    <div class="row" ng-hide="loading">
    	<ng-include src="'templates/html/refreshPanel.html'"></ng-include>
    	
	    <div ng-hide="image.error">
		    <table ng-table="tableParams" show-filter="true" class="table table-hover table-bordered">
		        <tr ng-repeat="item in data" class="{{rowClass(userProgress)}}">
		            <td data-title="'ID'" sortable="'cytomine.id'">{{item.cytomine.id}}</td>
		            <td data-title="'Preview'" class="text-center"><img class="img-rounded image-preview" src="{{ addKeys(item.macroURL) }}"/></td>
		            <td data-title="'Name'" sortable="'originalFilename'" filter="{ 'originalFilename': 'text' }">
		            	 {{item.originalFilename}} 
		            	 <span ng-show="({{today}} - {{item.cytomine.created}}) <= {{image.stillNew}}" class="label label-success pull-right">New!</span>
		            	 <p class="text-muted">{{item.cytomine.width | number}} x {{item.cytomine.height | number}} px</p>
		            </td>
		            <td data-title="'Magnification'">{{item.cytomine.magnification}} X</td>
		            <td data-title="'Progress'" sortable="'userProgress'" class="text-center" filter="{ 'userProgress' : 'userProgressFilter' }">
		            	<div ng-switch="{{item.cytomine.numberOfAnnotations}}">
		            		<div ng-switch-when="0" class="label label-info">No Annotations!</div>
		            		<div ng-switch-default><div ng-controller="progressCtrl" ng-include="'templates/html/progressPanel.html'"></div></div>
		            	</div>
		            </td>
		            <td data-title="'Actions'" class="text-center">
						<div class="btn-group" dropdown>
						  <button type="button" class="btn btn-primary btn-sm" ng-click="startLabeling(item.cytomine)" ng-class="{ disabled : item.cytomine.numberOfAnnotations=='0'}">Start Labeling</button>
						  <button type="button" class="btn btn-primary btn-sm dropdown-toggle">
						    <span class="caret"></span>
						    <span class="sr-only">Toggle Dropdown</span>
						  </button>
						  <ul class="dropdown-menu text-left" role="menu">
						    <li ng-class="{ 'disabled' : item.cytomine.numberOfAnnotations=='0' }"><a ng-click="annotationGallery(item.cytomine)" href>
						    		View Annotation Gallery
						    </a></li>
						    <li class="divider"></li>
						    <li><a target="_blank" href="{{item.goToURL}}">
						    		Explore in Cytomine 
						    </a></li>
						  </ul>
						</div>
		            </td>
		        </tr>
		    </table>
		    <span class="label label-danger" ng-show="hide" tooltip="You are currently hiding all finished images.">filtered</span> <span>Showing image {{ image.pageItemMin }} to {{ image.pageItemMax }} (<strong>{{ image.total }}</strong> in total)</span>
		    <script type="text/ng-template" id="ng-table/filters/userProgressFilter.html">
				<div class="btn btn-xs" ng-class="{ 'active' : !hide, 'btn-info' : !hide, 'btn-default' : hide}" ng-click="hideCompleted(false)">Show all</div>
				<div class="btn btn-xs" ng-class="{ 'active' : hide, 'btn-info' : hide, 'btn-default' : !hide}" ng-click="hideCompleted(true)">Hide completed</div>
				<input id="allProgresses" type="radio" ng-model="params.filter()[name]" name="filter-userProgress" value="" style="display: none;"/>
				<input id="hideCompleted" type="radio" ng-model="params.filter()[name]" name="filter-userProgress" value="!100" style="display: none;"/>
    		</script>
	    </div>
    </div>
</div>