<div class="panel-body" ng-controller="imageCtrl">

    <div class="alert alert-danger" ng-show="image.error.retrieve">
        Error. Cannot get image list. {{image.error.retrieve.message}} ({{image.error.retrieve.status}}).
        <p><a href="#/projects">Please open a project first.</a></p>
    </div>

    <div ng-show="loading">
	    <p class="text-center">
    		<p class="text-center">
    		Loading images of selected project...
    		</p>
   			<img class="img-responsive center-block" src="images/ajax-loader.gif"/>
   		</p>	
   	</div>
    
    <div class="row" ng-hide="loading">
	    <div ng-hide="image.error.retrieve">
	        This project has {{data.length}} images.
	        
	        <!--<p><strong>Page:</strong> {{tableParams.page()}}</p>
        	<p><strong>Count per page:</strong> {{tableParams.count()}}</p> -->
	    
		    <table ng-table="tableParams" show-filter="true" class="table table-striped table-bordered">
		        <tr ng-repeat="item in data">
		            <td data-title="'ID'" sortable="'id'">{{item.id}}</td>
		            <td data-title="'Preview'" class="text-center"><img class="img-rounded" src="{{item.macroURL}}" height="50px"/></td>
		            <td data-title="'Name'" sortable="'fileName'" filter="{ 'fileName': 'text' }">
		            	 {{item.fileName}}
		            	 <p style="color:#777">{{item.width | number}} x {{item.height | number}} px</p></td>
		            <td data-title="'Magnification'">{{item.magnification}} X</td>
		            <!-- <td data-title="'created'" sortable="'created'">{{item.created | longToDate | dateToFuzzyTime}}</td>  -->
		            <td data-title="'# Annotations'" sortable="'numberOfAnnotations'">{{item.numberOfAnnotations}}</td>
		            <td data-title="'action'" class="text-center">
		                <a class="btn btn-xs btn-primary" ng-click="setImageID(item.id)" target="_blank" href="{{item.goToURL}}">View in Cytomine</a>
		            </td>
		        </tr>
		    </table>
	    </div>
	    
<!--         <div class="col-6 col-sm-6 col-lg-4" ng-repeat="item in data">
            <h3>{{item.originalFilename}}</h3>
            <p><img class="img-thumbnail" src="{{item.thumb}}"/></p>
            <td data-title="'action'"  class="text-center">
                <a class="btn btn-xs btn-primary" target="_blank" href="{{item.goToURL}}">Open in cytomine</a>
            </td>
        </div> -->
    </div>
</div>