<div ng-controller="labelingCtrl">
<!-- 	<div class="row text-center" style="margin-bottom:15px;">
		<div class="col-xs-1">&nbsp;</div>
		<div class="col-xs-4">
			<div ng-controller="progressCtrl"
				ng-include="'templates/html/progressPanel.html'"></div>
		</div> -->
<!--  TODO DISABLE		<div class="col-xs-2">midCol</div> -->
<!-- 		<div class="col-xs-6">
			<pagination total-items="totalItems" ng-model="currentPage"
				max-size="maxSize" class="pagination-sm pagination-no-margin"
				boundary-links="true" direction-links="true" num-pages="totalItems" items-per-page="itemsPerPage"></pagination> -->
<!-- 	TODO DISABLE		<pager total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage"></pager> -->
<!-- 		</div>
		<div class="col-xs-1">&nbsp;</div>
	</div> -->

	<div class="row">
		<div class="col-xs-4 text-center well">
			<div class="row">
				{{annotation.cmTermName || 'no term assigned'}}
				<pager total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage"></pager>
<!-- 			TODO add the viewPanel  -->
				<img class="img-thumbnail"
				src="{{annotation.drawIncreasedAreaURL}}"
				width="256px"
				alt="" /> 
			</div>
			<div class="row" style="margin-top:10px;">
				<a href="{{annotation.cmImageURL}}" class="btn btn-sm btn-primary" target="_blank">View in Cytomine</a>
			</div>
		</div>
		<div class="col-xs-8">
<!-- 			<div class="text-center"> -->
<!-- 				<pagination total-items="totalItems" ng-model="currentPage" -->
<!-- 					max-size="maxSize" class="text-center pagination-sm pagination-no-margin" -->
<!-- 					boundary-links="true" direction-links="true" num-pages="numPages"></pagination> -->
<!-- 				<pager total-items="totalItems" ng-model="currentPage"></pager> -->
<!-- 			</div> -->
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<h4 class="panel-title pull-left">Assign a label by selection</h4>
					<a href="" ng-click="removeTerm()" class="btn btn-xs btn-warning pull-right">Remove label</a>
					<div class="text-center" ng-switch="saving.status">
						<div ng-switch-when="saving">
							<span class="label label-info">Saving</span>&nbsp; <img src="images/ajax-loader-xs.gif"/>
						</div>
						<div ng-switch-when="success">
							<span class="label label-success">Saved</span>
						</div>
						<div ng-switch-when="error">
							<span class="label label-danger">Saving failed!</span>
						</div>
						<div ng-switch-default>
							&nbsp;
<!-- 							<span class="label label-success">Placeholder</span> -->
						</div>
					</div>
				</div>
				<div class="panel-body">
					<ng-include src="'templates/html/termTable.html'"></ng-include>
				</div>
			</div>
		</div> 
	</div>
</div>
