<div ng-controller="labelingCtrl" class="container">
	<!-- 	<div class="row text-center" style="margin-bottom:15px;">
		<div class="col-xs-1">&nbsp;</div>
		<div class="col-xs-4">
			<div ng-controller="progressCtrl"
				ng-include="'templates/html/progressPanel.html'"></div>
		</div> -->
	<!--  TODO DISABLE		<div class="col-xs-2">midCol</div> -->
	<!-- 		<div class="col-xs-6">
			<pagination total-items="totalItems" ng-model="currentPage"
				max-size="maxSize" class="pagination-sm pagination-no-margin"
				boundary-links="true" direction-links="true" num-pages="totalItems" items-per-page="itemsPerPage"></pagination> -->
	<!-- 	TODO DISABLE		<pager total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage"></pager> -->
	<!-- 		</div>
		<div class="col-xs-1">&nbsp;</div>
	</div> -->

	<div ng-show="labeling.error">
		<div class="alert alert-danger text-center"
			ng-show="labeling.error.retrieve">
			{{labeling.error.retrieve.message}}<br /> Try selecting another image
			from the <a href ng-click="navToImages()">image list</a>.
		</div>
		<div class="alert alert-info text-center"
			ng-show="labeling.error.empty">
			{{labeling.error.empty.message}} <br /> Please select another one
			from the <a href ng-click="navToImages()">image list</a>.
		</div>
	</div>

	<div class="row" ng-hide="labeling.error">
		<div class="row" ng-controller="progressCtrl">
			<div class="container">
				<div class="col-xs-5">
					<span class="col-xs-8 pull-left" style="padding-left: 0px">
						<input type="checkbox" ng-model="labeling.hideCompleted"
						ng-change="showOrHideCompleted()">&nbsp;Hide completed
					</span>
					
					<span class="col-xs-4" style="padding-right: 0px">
						<div ng-show="item.userProgress == 100"
							class="label label-info pull-right" style="font-size: 12pt;">finished</div>
						<div ng-show="item.userProgress < 100"
							class="label label-default pull-right" style="font-size: 12pt;">{{item.numberOfAnnotations-item.labeledAnnotations}}
							more to go</div>
					</span>
				</div>
				<div class="col-xs-7" tooltip-placement="top"
					tooltip="You labeled {{item.labeledAnnotations}} of {{item.numberOfAnnotations}} annotation{{item.numberOfAnnotations>1?'s':''}}.">
					<progressbar style="margin-left: 10px;" class="progress-striped"
						value="item.userProgress" max="100"
						type="{{type(item.userProgress)}}"> <span
						style="color: black; white-space: nowrap;">{{item.userProgress}}%</span>
					</progressbar>
				</div>
			</div>
		</div>
		<div class="col-xs-5 text-center" style="padding-right: 0px">
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<h4 class="panel-title" style="height: 25px;">
						<span class="label"
							ng-class="{ 'label-success' : annotation.cmTermName, 'label-warning' : !annotation.cmTermName }">{{annotation.cmTermName
							|| 'no term assigned'}}</span>
					</h4>
				</div>
				<div class="panel-body">
					<div class="pager">
						<button style="width: 80px" type="button" href id="prevButton"
							class="btn btn-primary btn-sm pull-left"
							ng-class="{ disabled : !labeling.annotationTuple.hasPrevious || navDisabled}"
							ng-click="moveToPreviousAnnotation()">&laquo; Previous</button>
						<span
							class="label label-danger" tooltip="Only showing unlabeled annotations" tooltip-placement="bottom"
							ng-show="labeling.hideCompleted == true">filtered</span>
						<span class="text-center"> <span class="badge text-center"
							tooltip="ID: {{annotation.cmID}}" tooltip-placement="bottom">
								&nbsp; Annotation # {{labeling.annotationTuple.currentIndex+1}} /
								{{labeling.annotationTuple.numberOfAnnotations}} &nbsp; </span> 
						</span>
						<button style="width: 80px" type="button" href id="nextButton"
							class="btn btn-primary btn-sm pull-right"
							ng-class="{ disabled : !labeling.annotationTuple.hasNext || navDisabled }"
							ng-click="moveToNextAnnotation()">Next &raquo;</button>
					</div>

					<div id="viewPanel">
						<ng-include src="'templates/html/viewPanel.html'"
							ng-controller="mapCtrl"></ng-include>
					</div>
					<div class="row">
						<a href="{{annotation.cmImageURL}}" class="btn btn-sm btn-primary"
							target="_blank">View in Cytomine</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-7">
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<h4 class="panel-title pull-left" style="height: 25px;">Assign
						a label by selection</h4>
					<a href="" ng-click="removeTerm()"
						class="btn btn-xs btn-warning pull-right"
						ng-class="{ disabled : (annotation.cmTermID <= 0) }">Remove
						label</a>
					<div class="text-center" ng-switch="saving.status">
						<div ng-switch-when="saving">
							<span class="label label-info">Saving</span>&nbsp; <img
								src="images/ajax-loader-xs.gif" />
						</div>
						<div ng-switch-when="success">
							<span class="label label-success">Saved</span>
						</div>
						<div ng-switch-when="error">
							<span class="label label-danger">Saving failed!</span>
						</div>
						<div ng-switch-default>&nbsp;</div>
					</div>
				</div>
				<div class="panel-body">
					<ng-include src="'templates/html/termTable.html'"></ng-include>
				</div>
			</div>
		</div>
	</div>
</div>
