<div class="container-100" data-ng-controller="prjSettingsCtrl">
    <div ng-show="settings.error" class="alert alert-danger text-center" >
        Cannot get project settings.
    </div>

    <div ng-show="settings.checkingAccess">
        <p class="text-center">
            Checking permissions for project settings...
        </p>
        <img class="img-responsive center-block" src="images/ajax-loader.gif" alt="" />
        </p>
    </div>

    <div class="row" style="margin-top: -20px">
        <div ng-hide="settings.checkingAccess || settings.error">
            <h4 class="text-muted pull-right"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Project Settings&nbsp;&nbsp;</h4>
            <tabset>
                <tab heading="Access Management">
                    <div class="panel-body">
                        <ng-include src="'templates/html/settingsUser.html'"></ng-include>
                    </div>
                </tab>
                <tab heading="Synchronization">
                    <div class="panel-body">
                        <ng-include src="'templates/html/settingsSync.html'"></ng-include>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>