<div class="container-100" data-ng-controller="prjStatsCtrl">

    <div class="alert alert-danger text-center" ng-show="stats.error">
        Cannot get project statistics.
    </div>

    <!--<div ng-show="loading">-->
    <!--<p class="text-center">-->
    <!--Loading statistics...-->
    <!--</p>-->
    <!--<img class="img-responsive center-block" src="images/ajax-loader.gif" alt="" />-->
    <!--</p>-->
    <!--</div>-->

    <div class="row" style="margin-top: -20px">
        <div ng-hide="stats.error">
            <h4 class="text-muted pull-right"><span class="glyphicon glyphicon-stats"></span>&nbsp;Project Statistics&nbsp;&nbsp;</h4>
            <tabset>
                <tab heading="User Statistics">
                    <div class="panel-body">
                        <ng-include src="'templates/html/userstats.html'"></ng-include>
                    </div>
                </tab>
                <tab heading="Annotation Agreements">
                    <div class="panel-body">
                        <ng-include src="'templates/html/annstats.html'"></ng-include>
                    </div>
                </tab>
                <!-- TODO as of now, we don't show the agreement stats -->
                <!--<tab heading="User Agreements">-->
                    <!--<div class="panel-body">-->
                        <!--<ng-include src="'templates/html/agreementstats.html'"></ng-include>-->
                    <!--</div>-->
                <!--</tab>-->
            </tabset>
        </div>
    </div>
</div>