<div class="container" ng-controller="projectCtrl">

    <div class="alert alert-danger text-center" ng-show="project.error.retrieve">
        Cannot get project list. {{project.error.retrieve.message}} ({{project.error.retrieve.status}}).
    </div>

    <div ng-show="loading">
    	<p class="text-center">
    		<p class="text-center">
    		Loading projects...
    		</p>
    		<img class="img-responsive center-block" src="images/ajax-loader.gif" alt="" />
    	</p>
    </div>

	<div class="row" ng-hide="loading">
		<ng-include src="'templates/html/refreshPanel.html'"></ng-include>

		<div ng-hide="project.error.retrieve">
			<div class="text-center" style="margin-top:4px;">You have access to <span class="label" ng-class="{'label-primary' : accessibleProjects > 0, 'label-warning' : accessibleProjects == 0}">{{ accessibleProjects }}</span> project<span ng-hide="accessibleProjects == 1">s</span> on IRIS.</div>
			<table ng-table="tableParams" show-filter="true" class="table table-striped table-bordered table-hover">
		        <tr ng-repeat="item in data">
		            <!-- <td data-title="'ID'" sortable="'cmID'">{{item.cmID}}</td> -->
		            <td data-title="'Name'" sortable="'cmName'" filter="{ 'cmName': 'text' }">
		            	{{item.cmName}}
		            	<span ng-show="item.isClosed || item.settings.enabled === false"
		            		  class="label label-warning pull-right"
							  tooltip-placement="top"
							  tooltip="This project is not configured for IRIS, closed, or has no images.">Locked
		            	</span>
		            </td>
		            <td data-title="'Created'" sortable="'cmCreated'">{{item.cmCreated | longToDate | dateToFuzzyTime}}
		            	<span ng-show="(today - item.cmCreated) <= project.stillNew" class="label label-success pull-right">New!</span>
		            </td>
		            <td data-title="'# Images'" sortable="'cmNumberOfImages'" class="text-center">{{item.cmNumberOfImages}}</td>
		            <td data-title="'# Annotations'" sortable="'cmNumberOfAnnotations'" class="text-center">{{item.cmNumberOfAnnotations}}</td>
					<td data-title="'Mode'" sortable="'cmBlindMode'" class="text-center">
		            <div ng-switch="{{item.cmBlindMode}}">
		              	<div ng-switch-when="true"><span class="label label-danger" tooltip-placement="top" tooltip="This project is in 'blind' mode, you will not see the image names.">Blind Mode</span></div>
		            	<div ng-switch-default><span class="label label-info" tooltip="In this 'regular' project you are allowed to view all information.">Regular</span></div>
					</div>
		            </td>
		            <td data-title="'Actions'" class="text-center">
		            	<span ng-switch="canBeOpened(item)">
	                		<span ng-switch-when="true">
								<div class="btn-group" dropdown>
									<button type="button" ng-click="openProject(item)"
											ng-class="{'btn btn-sm btn-primary' : item.settings.enabled === true,
												'btn btn-sm btn-warning' : item.settings.enabled === false}">
										Open
									</button>
									<button type="button" class="btn btn-primary btn-sm dropdown-toggle"
											ng-class="{ 'btn btn-sm btn-primary' : item.settings.enabled === true,
												'btn btn-sm btn-warning': item.settings.enabled === false }">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu text-left" role="menu">
										<li ng-class="{	'disabled': (item.settings.enabled === false || item.settings.irisCoordinator === false)}"><a
												ng-click="showStatistics(item)" href>
											<span class="glyphicon glyphicon-stats"></span>&nbsp;Statistics Dashboard
										</a></li>
										<li ng-class="{	'disabled': (item.settings.enabled === false || item.settings.irisCoordinator === false) }"><a
												ng-click="showSettings(item)" href>
											<span class="glyphicon glyphicon-wrench"></span>&nbsp;Settings
										</a></li>
										<li><a ng-click="showCoordRequestDialog(item)" href>
											<span class="glyphicon glyphicon-user"></span>&nbsp;Coordinator Request
										</a></li>
										<!-- TODO continue implementation of 'I don't have access' function -->
										<li ng-show="item.settings.enabled === false" class="divider" ></li>
										<li ng-show="item.settings.enabled === false"><a ng-class="{ 'disabled': item.settings.enabled === true }"
											   ng-click="showUserRequestDialog(item)" href>
											<span class="glyphicon glyphicon-lock"></span>&nbsp;Request Access
										</a></li>
									</ul>
								</div>
							</span>
			                <span ng-switch-default>
								<div class="btn-group" dropdown>
									<button type="button"
											ng-class="{'btn btn-sm btn-primary disabled' : item.settings.enabled === true,
											'btn btn-sm btn-warning disabled' : item.settings.enabled === false}">
										Open
									</button>
									<button type="button" class="btn btn-primary btn-sm dropdown-toggle"
											ng-class="{ 'btn btn-sm btn-primary' : item.settings.enabled === true,
												'btn btn-sm btn-warning': item.settings.enabled === false }">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu text-left" role="menu">
										<li ng-class="{	'disabled': item.settings.enabled === false }"><a
												ng-click="showStatistics(item)" href>
											<span class="glyphicon glyphicon-stats"></span>&nbsp;Statistics Dashboard
										</a></li>
										<li ng-class="{	'disabled': item.settings.enabled === false }"><a
												ng-click="showSettings(item)" href>
											<span class="glyphicon glyphicon-wrench"></span>&nbsp;Settings
										</a></li>
										<li><a ng-click="showCoordRequestDialog(item)" href>
											<span class="glyphicon glyphicon-user"></span>&nbsp;Coordinator Request
										</a></li>
										<!-- TODO continue implementation of 'I don't have access' function -->
										<li ng-show="item.settings.enabled === false" class="divider" ></li>
										<li ng-show="item.settings.enabled === false"><a ng-class="{ 'disabled': item.settings.enabled === true }"
										ng-click="showUserRequestDialog(item)" href>
										<span class="glyphicon glyphicon-lock"></span>&nbsp;Request Access
										</a></li>
									</ul>
								</div>
							</span>
		            	</span>
		            </td>
		            <td data-title="'Info'" class="text-center">
		            	<a href ng-click="retrieveInfo(item)"><span class="glyphicon glyphicon-info-sign"></span></a>
		            </td>
		        </tr>
		    </table>
			<span>Showing project {{ project.pageItemMin+1 }} to {{ project.pageItemMax }} (<strong>{{ project.projects.length }}</strong> in total)</span>
	    </div>
    </div>

    <!-- INCLUDE: Templates for modal dialogs  -->
	<div ng-include="'templates/html/projectDescription.html'"></div>
	<div ng-include="'templates/html/projectDisabled.html'"></div>
	<div ng-include="'templates/html/coordinatorRequestForm.html'"></div>
	<div ng-include="'templates/html/userRequestProjectAccessForm.html'"></div>
</div>

