<div class="panel-body" ng-controller="projectCtrl">

    <div class="alert alert-danger" ng-show="project.error.retrieve">
        Error. Cannot get project list. {{project.error.retrieve.message}} ({{project.error.retrieve.status}}).
    </div>

    <div ng-show="loading">
    	<p class="text-center">
    		<p class="text-center">
    		Loading projects...
    		</p>
    		<img class="img-responsive center-block" src="images/ajax-loader.gif" alt="" />
    	</p>
    </div>
	
	<div class="row" ng-hide="loading">
		<ng-include src="'templates/html/refreshPanel.html'"></ng-include>
	    
		<div ng-hide="project.error.retrieve">
			<p>You have access to {{project.projects.length}} projects. 
<!-- 			<a href ng-click="printProjectID()">Print current Project ID</a> -->
			</p>
			
		    <table ng-table="tableParams"  show-filter="true" class="table table-striped table-bordered table-hover">
		        <tr ng-repeat="item in data">
		            <td data-title="'ID'" sortable="'id'">{{item.id}}</td>
		            <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">
		            	{{item.name}} 
		            	<span ng-show="{{item.isClosed}}" 
		            		  class="label label-warning pull-right" 
		            		  tooltip-placement="top" 
		            		  tooltip="This project is locked, you cannot edit the contents.">Locked
		            	</span>
		            </td>
		            <td data-title="'Created'" sortable="'created'">{{item.created | longToDate | dateToFuzzyTime}} 
		            	<span ng-show="({{today}} - {{item.created}}) <= {{project.stillNew}}" class="label label-success pull-right">New!</span>
		            </td>
		            <td data-title="'# Images'" sortable="'numberOfImages'" class="text-center">{{item.numberOfImages}}</td>
		            <td data-title="'Mode'" sortable="'blindMode'" class="text-center">
		            <div ng-switch="{{item.blindMode}}">
		              	<div ng-switch-when="true"><span class="label label-danger" tooltip-placement="top" tooltip="This project is in blind mode, you will not see the image names.">Blind Mode</span></div>
		            	<div ng-switch-default><span class="label label-info" tooltip="A regular project, where you can see all information.">Regular</span></div>	
					</div>
		            </td>
		            <td data-title="'Action'" class="text-center">
		                <span ng-switch="{{item.isClosed}}">
		                	<span ng-switch-when="false">
		                	 	<a class="btn btn-sm btn-primary" ng-click="setCurrentProject(item)" href="#/project/{{item.id}}/images">Open</a>
		                	</span>
		                	<span ng-switch-default>
		                		<a class="btn btn-sm btn-primary" disabled="disabled" href tooltip-placement="top" tooltip="This project is closed.">Open</a>
		            		</span>
		            	</span>
		            </td>
		            <td data-title="'Info'" class="text-center">
		            	<a href ng-click="retrieveInfo(item)"><span class="glyphicon glyphicon-info-sign"></span></a>
		            </td>
		        </tr>
		    </table>
	    </div>
    </div>
    
    <!-- INCLUDE: Templates for modal dialogs  -->
	<div ng-include="'templates/html/projectDescription.html'"></div>
</div>

