<div ng-controller="welcomeCtrl" class="container">
	<div class="alert alert-danger text-center" ng-show="welcome.error">
		<b>{{ welcome.error.message }}</b>
	</div>
	
	<div class="jumbotron rounded-corners" ng-hide="welcome.error">
		<div class="row">
			<div class="col-sm-6 text-center" style="padding-right:20px">
				<h2>Welcome to Cytomine IRIS</h2>
				<p>
					<b style="color: #428bca">I</b>nterobserver <b
						style="color: #428bca">R</b>el<b style="color: #428bca">i</b>ability
					<b style="color: #428bca">S</b>tudy Module
				</p>
				<p>
					<a href="#/projects"><button class="btn btn-primary btn-lg" style="width:100%" type="button">Start &raquo;</button></a>
				</p>
				<p>
					<a href="{{ welcome.cytomineHost }}" target="_blank"><button class="btn btn-default btn-xs" type="button">Visit Cytomine</button></a>
					<a href="http://www.cytomine.be" target="_blank"><button class="btn btn-default btn-xs" type="button">Learn more about the Cytomine project</button></a>
				</p>
			</div>
			<div class="col-sm-6 text-center" style="padding-left:20px">
				<img src="images/slide_thumb.png" class="img-thumbnail" alt="" />
			</div>
			
		</div>
	</div>
	<div class="muted-links text-muted">
		<span><a href="#/about" class="text-muted">About Cytomine IRIS</a></span>
	</div>
	
	<hr>
	<div class="row">
		<div class="col-sm-6">
			<div class="text-center"
				style="font-size: 11pt; text-transform: uppercase; margin-bottom: 20px;">
				Get started by watching the tutorial video</div>
			<div class="col-xs-12 text-center">
				<div class="img-thumbnail videogular-container"
					ng-controller="videoCtrl">
					<videogular vg-theme="video.tutorial.config.theme">
					<vg-video vg-src="video.tutorial.config.sources"
						vg-tracks="video.tutorial.config.tracks" 
						vg-preload="none"> 
					</vg-video> 
					<vg-controls>
						<vg-play-pause-button></vg-play-pause-button>
						<vg-timedisplay>{{ currentTime | date:'mm:ss' }}</vg-timedisplay>
						<vg-scrubBar>
							<vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
						</vg-scrubBar>
						<vg-timedisplay>{{ timeLeft | date:'mm:ss' }}</vg-timedisplay>
						<vg-volume>
							<vg-mutebutton></vg-mutebutton>
							<vg-volumebar></vg-volumebar>
						</vg-volume>
						<vg-fullscreenButton></vg-fullscreenButton>
					</vg-controls>
					<vg-poster-image vg-url='video.tutorial.config.plugins.poster'></vg-poster-image>
					</videogular>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="text-center"
					style="font-size: 11pt; text-transform: uppercase; margin-bottom: 20px;">
					Take a preview at the application</div>
		
			<div class="row">
				<div class="row">
					<div class="col-sm-6">
						<a class="fancybox" data-fancybox-group="gallery"
							href="images/screenshots/projects-screenshot.jpg"
							title="List all projects available to you"> <img
							src="images/screenshots/projects-screenshot.jpg"
							class="img-thumbnail" alt="" />
						</a>
					</div>
					<div class="col-sm-6">
						<a class="fancybox" data-fancybox-group="gallery"
							href="images/screenshots/images-screenshot.jpg"
							title="Select from the list of available images in a project">
							<img src="images/screenshots/images-screenshot.jpg"
							class="img-thumbnail" alt="" />
						</a>
					</div>
				</div>
				<div class="row" style="margin-top: 20px;">
					<div class="col-sm-6">
						<a class="fancybox" data-fancybox-group="gallery"
							href="images/screenshots/labeling-screenshot.jpg"
							title="Assign labels to predefined annotations"> <img
							src="images/screenshots/labeling-screenshot.jpg"
							class="img-thumbnail" alt="" />
						</a>
					</div>
					<div class="col-sm-6">
						<a class="fancybox" data-fancybox-group="gallery"
							href="images/screenshots/gallery-screenshot.jpg"
							title="Review your annotations with optional filters in the gallery">
							<img src="images/screenshots/gallery-screenshot.jpg"
							class="img-thumbnail" alt="" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>