<div ng-controller="welcomeCtrl" class="container">
	<div class="jumbotron rounded-corners">
		<div class="row">
			<div class="col-xs-6">
				<h2>{{welcome.welcome}}</h2>
				<p>
					<b style="color: #428bca">I</b>nterobserver <b
						style="color: #428bca">R</b>el<b style="color: #428bca">I</b>ability
					<b style="color: #428bca">S</b>tudy Module
				</p>
				<p>
					<a href="#/projects" class="btn btn-primary btn-lg" role="button">Show
						Available Projects &raquo;</a>
				</p>
				<p>
					<a href="{{welcome.cytomineWeb}}" class="btn btn-primary btn-lg" target="_blank" role="button">Visit Cytomine &raquo;</a>
				</p>
			</div>
			<div class="col-xs-6" style="text-align: center">
				<img
					src="/images/slide_thumb.png"
					class="img-thumbnail"
					alt="" />
			</div>
		</div>
	</div>
</div>